<div class="container-list">
    <table mat-table [dataSource]="dataMonthlyRep" class="mat-elevation-z8">
        <!-- Numero de credito -->
        <ng-container matColumnDef="idCredit">
          <th mat-header-cell *matHeaderCellDef> ID del crédito </th>
          <td mat-cell *matCellDef="let element"> {{element.idCredit}} </td>
        </ng-container>
      
        <!-- Monto del crédito -->
        <ng-container matColumnDef="creditAmount">
          <th mat-header-cell *matHeaderCellDef> Monto del crédito</th>
          <td mat-cell *matCellDef="let element"> {{element.creditAmount | currency:'MXN':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>
      
        <!-- Fecha -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha de entrega</th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="monthlyListCol"></tr>
        <tr mat-row *matRowDef="let row; columns: monthlyListCol;"></tr>
    </table>
</div>

<div class="total-footer" *ngIf="dataMonthlyRep.data.length > 0">
  <div class="footer-content">
    <span class="left">Total créditos: {{ dataMonthlyRep.data.length }}</span>
    <span class="right">
      Total monto:
      <span class="amount">
        {{ getTotalCreditAmount() | currency:'MXN':'symbol-narrow':'1.2-2' }}
      </span>
    </span>
  </div>
</div>