<!--FORMULARIO PARA INICIAR SESION-->

<div class="login-container">
    <div class = "login-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <img class= 'logo' src="logo.jpg" alt="Logo">

            <h1 class="login-title">Iniciar sesión</h1>

            <div class="input-group">
              <div class="input-container">
                <i class="fa-solid fa-user input-icon" style="color: rgb(155, 156, 158);"></i>
                <input type="text" class="form-input" placeholder="Usuario" formControlName="user" required>
              </div>
              
              <div *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" class="error-message">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>Ingresa tu usuario</span>
              </div>
            </div>

            <div class="input-group">
              <div class="input-container">
                <i class="fa-solid fa-lock input-icon" style="color: rgb(155, 156, 158);"></i>
                <input type="password" class="form-input" placeholder="Contraseña" formControlName="password" required>
              </div>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>Ingresa tu contraseña</span>
              </div>
            </div>

            <!-- Mensaje de error general para el formulario -->
            <div *ngIf="errorMessage" class="error-message general-error">
              {{ errorMessage }}
            </div>

            <button type="submit" class="login-button">Iniciar sesión</button>

            <p class="register-text">¿No tienes cuenta? <a routerLink="/sing-in">Regístrate</a></p>
        </form>
    </div>
</div>