.login-container {
    background-color: #e8f5e9;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 100%;
    max-width: 380px;

    background-color: white;

    padding: 32px;

    border-radius: 12px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo {
    width: 150px;

    display: block;

    margin: 0 auto 24px auto;
}

.login-title {
    text-align: center;

    font-size: 28px;
    font-weight: 600;

    color: #1B5E20;

    margin-bottom: 32px;
}

.input-group {
    margin-bottom: 20px;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(155, 156, 158);
    font-size: 14px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 12px 14px 12px 40px;

    border: 1px solid #dcdcdc;
    border-radius: 8px;

    font-size: 14px;

    transition: all 0.2s ease;

    outline: none;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #16a34a;

    box-shadow: 0 0 0 4px rgba(22, 163, 74, 0.15);
}

.form-input::placeholder {
    color: #9ca3af;
}

.login-button {
    width: 100%;

    border: none;

    background-color: #1B5E20;
    color: white;

    padding: 12px;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.2s ease;

    margin-top: 10px;
}

.login-button:hover {
    background-color: #15803d;

    transform: translateY(-1px);

    box-shadow: 0 4px 12px rgba(22, 163, 74, 0.2);
}

.error-message {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
    margin-left: 5px;
    color: #f87171;
    font-size: 12px;
}

.general-error {
    margin-bottom: 16px;
}

.register-text {
    text-align: center;

    margin-top: 24px;

    font-size: 14px;

    color: #6b7280;
}

.register-text a {
    color: #1B5E20;

    text-decoration: none;

    font-weight: 600;
}

.register-text a:hover {
    text-decoration: underline;
}