<div class="table-selector">
    <label for="tableSelector" class="table-selector-label">
        Selecciona el tipo de consulta
    </label>

    <div class="select-container">
        <select id="listSelect" class="custom-select initial-focus" [(ngModel)]="selectedList" (ngModelChange)="onReportTypeChange($event)">
            <option value="daily">Consulta del día</option>
            <option value="weekly">Consulta de la semana</option>
            <option value="monthly">Consulta del mes</option>
        </select>  
        <i class="fa-solid fa-chevron-down select-icon"></i>
    </div>
</div>

<div class="paymentSummary-container">
    <table mat-table [dataSource]="paymentSummary" class="mat-elevation-z8">
        <!--dinero cobrado-->
        <ng-container matColumnDef="collectedAmount">
            <th mat-header-cell *matHeaderCellDef> Dinero cobrado </th>
            <td mat-cell *matCellDef="let element"> {{element.collectedAmount}} </td>
        </ng-container>
        <!--porcentaje de dinero cobrado-->
        <ng-container matColumnDef="collectedAmountPercentage">
            <th mat-header-cell *matHeaderCellDef> Porcentaje de dinero cobrado </th>
            <td mat-cell *matCellDef="let element"> {{element.collectedAmountPercentage}} </td>
        </ng-container>
        <!--dinero faltante-->
        <ng-container matColumnDef="outstandingAmount">
            <th mat-header-cell *matHeaderCellDef> Dinero faltante </th>
            <td mat-cell *matCellDef="let element"> {{element.outstandingAmount}} </td>
        </ng-container>
        <!--porcentaje de dinero faltante-->
        <ng-container matColumnDef="outstandingAmountPercentage">
            <th mat-header-cell *matHeaderCellDef> Porcentaje de dinero faltante </th>
            <td mat-cell *matCellDef="let element"> {{element.outstandingAmountPercentage}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="paymentSummaryCol"></tr>
        <tr mat-row *matRowDef="let row; columns: paymentSummaryCol;"></tr>
    </table>
    <div class="total-footer">
        <div class="footer-content">
            <span class="left"> Total de deuda: {{ totalDebt | currency: 'MXN':'symbol-narrow':'1.2-2' }} </span>
        </div>
    </div>
</div>
