<div class="income-list-container">
  <mat-card class="section-card">
  <mat-card-title>Ingresos</mat-card-title>
  <mat-divider></mat-divider>
    <table mat-table [dataSource]="incomeReport" class="mat-elevation-z8">
        <!-- Fecha -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <!-- Ingresos extra -->
        <ng-container matColumnDef="extraIncome">
          <th mat-header-cell *matHeaderCellDef> Ingresos extra </th>
          <td mat-cell *matCellDef="let element"> {{element.extraIncome | currency:'MXN':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>

        <!-- Descripcion de ingresos extra-->
        <ng-container matColumnDef="descriptionIncome">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descriptionIncome}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="incomeReportCol"></tr>
        <tr mat-row *matRowDef="let row; columns: incomeReportCol;"></tr>
    </table>
  </mat-card>
</div>

<div class="total-footer">
  <div class="footer-content">
    <span class="left">Total del ingreso de pagos: {{ paymentsIncome | currency: 'MXN':'symbol-narrow':'1.2-2' }} </span>
    <span class="right">Total de ingresos: {{ totalIncome | currency: 'MXN':'symbol-narrow':'1.2-2' }} </span>
  </div>
</div>

<!--tabla para mostrar egresos extra y de creditos-->
<div class="expense-list-container">
  <mat-card class="section-card">
  <mat-card-title>Egresos</mat-card-title>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="expensesReport" class="mat-elevation-z8">

    <!-- Fecha -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

    <!-- Egresos del capital de los creditos otorgados-->
    <ng-container matColumnDef="creditExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso de crédito </th>
      <td mat-cell *matCellDef="let element"> {{element.creditExpense | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <!-- Egresos extra -->
    <ng-container matColumnDef="extraExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso extra </th>
      <td mat-cell *matCellDef="let element"> {{element.extraExpense | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <!-- descripcion de egresos extra -->
    <ng-container matColumnDef="descriptionExpense">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptionExpense}} </td>
    </ng-container>
    
    <!-- Total de egresos -->
    <ng-container matColumnDef="totalExpenses">
      <th mat-header-cell *matHeaderCellDef> Total de egresos</th>
      <td mat-cell *matCellDef="let element"> {{element.totalExpenses | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="expensesReportCol"></tr>
    <tr mat-row *matRowDef="let row; columns: expensesReportCol;"></tr>
  </table>
  </mat-card>
</div>

<div class="total-footer">
  <div class="footer-content">
    <span class="left"> Total del egreso de créditos: {{ creditExpense | currency: 'MXN':'symbol-narrow':'1.2-2' }} </span>
    <span class="right"> Total de egresos: {{ totalExpense | currency: 'MXN':'symbol-narrow':'1.2-2' }} </span>
  </div>
</div>

<!--Egresos de comisiones-->
<div class="commissionExpense-list-container">
  <mat-card class="section-card">
  <mat-card-title>Egresos de comisiones</mat-card-title>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="commissionExpensesReport" class="mat-elevation-z8">

    <!-- Fecha -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!--Egresos de comisiones-->
    <ng-container matColumnDef="commissionExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso de comisión </th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpense}} </td>
    </ng-container>

    <!--Supervisor (a) a quien le corresponden las comisiones-->
    <ng-container matColumnDef="commissionExpenseDescription">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpenseDescription}} </td>
    </ng-container>
    
    <!-- Total de egresos -->
    <ng-container matColumnDef="commissionExpensesTotal">
      <th mat-header-cell *matHeaderCellDef> Total de comisiones</th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpensesTotal | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="commissionExpensesReportCol"></tr>
    <tr mat-row *matRowDef="let row; columns: commissionExpensesReportCol;"></tr>
  </table>
  </mat-card>
</div>

<div class="total-footer">
  <div class="footer-content">
    <span class="left">Total de comisiones: {{ commissionExpensesTotal | currency:'MXN':'symbol-narrow':'1.2-2' }} </span>
  </div>
</div>

  
  
