<div class="income-list-container">
    <table mat-table [dataSource]="incomeReport" class="mat-elevation-z8">
        <!-- Fecha -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <!-- Ingresos de pagos -->
        <ng-container matColumnDef="paymentsIncome">
          <th mat-header-cell *matHeaderCellDef> Ingresos de pagos</th>
          <td mat-cell *matCellDef="let element"> {{element.paymentsIncome | currency:'MXN':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>
      
        <!-- Ingresos extra -->
        <ng-container matColumnDef="extraIncome">
          <th mat-header-cell *matHeaderCellDef> Ingresos extra </th>
          <td mat-cell *matCellDef="let element"> {{element.extraIncome | currency:'MXN':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>

        <!-- Descripcion de ingresos extra-->
        <ng-container matColumnDef="descriptionIncome">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descriptionIncome}} </td>
        </ng-container>

        <!-- Total de ingresos -->
        <ng-container matColumnDef="totalIncome">
          <th mat-header-cell *matHeaderCellDef> Total de ingresos</th>
          <td mat-cell *matCellDef="let element"> {{element.totalIncome | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="incomeReportCol"></tr>
        <tr mat-row *matRowDef="let row; columns: incomeReportCol;"></tr>
    </table>

</div>

<!--tabla para mostrar egresos extra y de creditos-->
<div class="expense-list-container">
  <table mat-table [dataSource]="expensesReport" class="mat-elevation-z8">

    <!-- Fecha -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

    <!-- Egresos del capital de los creditos otorgados-->
    <ng-container matColumnDef="creditExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso de crédito </th>
      <td mat-cell *matCellDef="let element"> {{element.creditExpense | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <!-- Egresos extra -->
    <ng-container matColumnDef="extraExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso extra </th>
      <td mat-cell *matCellDef="let element"> {{element.extraExpense | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <!-- descripcion de egresos extra -->
    <ng-container matColumnDef="descriptionExpense">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptionExpense}} </td>
    </ng-container>
    
    <!-- Total de egresos -->
    <ng-container matColumnDef="totalExpenses">
      <th mat-header-cell *matHeaderCellDef> Total de egresos</th>
      <td mat-cell *matCellDef="let element"> {{element.totalExtraExpenses | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="expensesReportCol"></tr>
    <tr mat-row *matRowDef="let row; columns: expensesReportCol;"></tr>
  </table>
</div>

<!--Egresos de comisiones-->
<div class="commissionExpense-list-container">
  <table mat-table [dataSource]="commissionExpensesReport" class="mat-elevation-z8">

    <!-- Fecha -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!--Egresos de comisiones-->
    <ng-container matColumnDef="commissionExpense">
      <th mat-header-cell *matHeaderCellDef> Egreso de comisión </th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpense}} </td>
    </ng-container>

    <!--Supervisor (a) a quien le corresponden las comisiones-->
    <ng-container matColumnDef="commissionExpenseDescription">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpenseDescription}} </td>
    </ng-container>
    
    <!-- Total de egresos -->
    <ng-container matColumnDef="commissionExpensesTotal">
      <th mat-header-cell *matHeaderCellDef> Total de comisiones</th>
      <td mat-cell *matCellDef="let element"> {{element.commissionExpensesTotal | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="commissionExpensesReportCol"></tr>
    <tr mat-row *matRowDef="let row; columns: commissionExpensesReportCol;"></tr>
  </table>
</div>

  
  
