<app-search-bar-zone (selectedZone)="onZoneSelected($event)" ></app-search-bar-zone>

<div class="commissions">
  <table mat-table [dataSource]="dataCommissions" class="mat-elevation-z8 demo-table">
  
    <!-- Comisión de porcentaje de cobranza -->
    <ng-container matColumnDef="collectionRate">
      <th mat-header-cell *matHeaderCellDef> Porcentaje de cobranza </th>
      <td mat-cell *matCellDef="let element"> {{element.collectionRate}} </td>
    </ng-container>
  
    <!-- Gastos de cobranza -->
    <ng-container matColumnDef="collectionExpenses"> 
      <th mat-header-cell *matHeaderCellDef> Gastos de cobranza </th>
      <td mat-cell *matCellDef="let element"> {{element.collectionExpenses}} </td>
    </ng-container>

    <!-- Número de créditos -->
    <ng-container matColumnDef="numberCredits">
      <th mat-header-cell *matHeaderCellDef> No de créditos </th>
      <td mat-cell *matCellDef="let element"> {{element.numberCredits}} </td>
    </ng-container>

    <!-- EXTRAS -->
    <ng-container matColumnDef="extras">
      <th mat-header-cell *matHeaderCellDef> Extras </th>
      <td mat-cell *matCellDef="let element"> {{element.extras}} </td>
    </ng-container>
  
    <!-- cantidad total -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef>Total </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="commissionsCol"></tr>
    <tr mat-row *matRowDef="let row; columns: commissionsCol;"></tr>
  </table>
</div>

<!-- Input de entrada para el saldo extra -->
<div class="input-container">
    <input type="number" placeholder="Saldo" [(ngModel)]="filtro" (ngModelChange)="aplicarFiltroExtras()"/>
</div>


<app-save-button label= "Agregar a extras"></app-save-button>
