<div class="wrapper">
    <div class = "body">
        <form >
          <h1>Crecex</h1>
            <img class= 'logo' src="logo.jpg" alt="Logo">
            <h1>Unete a crecex</h1>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Usuario" formControlName="user">
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña"formControlName="password">
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Repita la Contraseña"formControlName="Password">
              </div>
              <div class="d-grid gap-2">
                <button type="button" >Registrate</button>
              </div>
              <div>
                <p class="mt-3">¿Ya tengo cuenta?<a routerLink="" >Iniciar Sesión </a></p>
              </div>
        </form>
    </div>
</div>