<!--FORMULARIO PARA REGISTRAR A UN USUARIO-->

<div class="register-container">
    <div class = "register-card">
        <form [formGroup]="registerForm" (ngSubmit)="register()">

            <img class= 'logo' src="logo.jpg" alt="Logo">

            <h1 class="register-title">Crear cuenta</h1>

            <div class="input-group">
              <div class="input-container">
                <i class="fa-solid fa-user input-icon" style="color: rgb(155, 156, 158);"></i>
                <input type="text" class="form-input" id="floatingInput" placeholder="Usuario" formControlName="user" required>
              </div>

              <div *ngIf="registerForm.get('user')?.invalid && registerForm.get('user')?.touched" class="error-message">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>Ingresa el nuevo usuario</span>
              </div>
            </div>

            <div class="input-group">
              <div class="input-container">
                <i class="fa-solid fa-lock input-icon" style="color: rgb(155, 156, 158);"></i>
                <input type="password" class="form-input" id="floatingPassword" placeholder="Contraseña" formControlName="password" required>
              </div>
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>Ingresa la contraseña</span>
              </div>
            </div>

            <div class="input-group">
              <div class="input-container">
                <i class="fa-solid fa-lock input-icon" style="color: rgb(155, 156, 158);"></i>
                <input type="password" class="form-input" id="repitPassword" placeholder="Repita la contraseña" formControlName="repeatPassword" required>
              </div>
              <div *ngIf="registerForm.get('repeatPassword')?.invalid && registerForm.get('repeatPassword')?.touched" class="error-message">
                  <i class="fa-solid fa-circle-exclamation"></i>
                <span>Confirma la contraseña</span>
              </div>
            </div>

            <!--Mensaje de exito-->
            <div *ngIf="successMessage" class="success">
                {{ successMessage }}
            </div>

            <!--Mensaje de error general-->
            <div *ngIf="errorMessage" class="error">
                {{ errorMessage }}
            </div>

            <button type="submit" class="register-button">Regístrate</button>
      
            <p class="return-text">¿Ya tengo cuenta? <a routerLink="/" > Iniciar sesión </a></p>
        </form>
    </div>
</div>