<div class="container-menu">
    <ul class="menu">
        <li><a routerLink="clients-guarantors/add" routerLinkActive="active"><b>Clientes-Avales</b></a></li>
        <li><a routerLink="credits" routerLinkActive="active"><b>Venta</b></a></li>
        <li><a routerLink="payments" routerLinkActive="active"><b>Pago por zona</b></a></li>
        <li><a routerLink="collectors" routerLinkActive="active"><b>Recopiladores</b></a></li>
        <li><a routerLink="commissions" routerLinkActive="active"><b>Comisiones</b></a></li>
        <li><a routerLink="statistics" routerLinkActive="active"><b>Estadísticas</b></a></li>
        <li><a routerLink="credit-bureau" routerLinkActive="active"><b>Buró de Crédito</b></a></li>
      </ul>
</div>

  
