<div class="container-menu">
    <ul class="menu">
        <li routerLinkActive="active">
          <a routerLink="clients-guarantors/add"><b>Clientes-Avales</b></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="credits"><b>Venta</b></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="payments"><b>Pago por zona</b></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="collectors"><b>Recopiladores</b></a></li>
        <li routerLinkActive="active">
          <a routerLink="commissions"><b>Comisiones</b></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="statistics"><b>Estadísticas</b></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="credit-bureau"><b>Buró de Crédito</b></a>
        </li>
      </ul>
</div>

  
