 <nav class="container-menu">
    <ul class="menu">
        <li routerLinkActive="active">
          <a routerLink="clients-guarantors">
            <i class="fa-solid fa-users"></i>
            Clientes y Avales</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="credits">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <!--<i class="fa-solid fa-money-check-dollar"></i>-->
            Venta</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="payments">
            <i class="fa-solid fa-location-dot"></i>
            Pago por zona</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="collectors">
            <i class="fa-solid fa-file-lines"></i>
            Recopiladores</a></li>
        <li routerLinkActive="active">
          <a routerLink="commissions">
            <i class="fa-solid fa-dollar-sign"></i>
            Comisiones</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="statistics">
            <i class="fa-solid fa-chart-line"></i>
            Estadísticas</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="zones">
            <i class="fa-solid fa-location-arrow"></i>
            Zonas
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="credit-bureau">
            <i class="fa-solid fa-user-slash"></i>
            Buró de Crédito</a>
        </li>
      </ul>
    </nav>

  
