h3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    margin-left: 20px;
    margin-bottom: 60px;
    width: 250px; 
    padding: 4px; 
    font-size: 15px; 
    color: black;
    border: 1px solid #000000; 
    border-radius: 4px; 
    appearance: none; 
    cursor: pointer; 
}

select:focus {
    border-color: gray; 
    outline: none; 
    box-shadow: 0 0 5px rgba(87, 93, 96, 0.5); 
}

select {
    /*background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); Flecha personalizada */
    background-image: url('/flecha.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posición de la flecha */
    background-size: 10px; /* Tamaño de la flecha */
}

/* Estilo para el hover */
select:hover {
    border-color: gray; /* Cambia el color del borde al pasar el mouse */
}

/* Estilo para deshabilitado */
select:disabled {
    background-color: #f0f0f0; /* Color de fondo deshabilitado */
    cursor: not-allowed; /* Cambia el cursor */
    opacity: 0.7; /* Reduce la opacidad */
}

.container-form .row {
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.container-form .data {
    flex: 1;
    padding-right: 20px;
}

.container-form .data label {
    width: 130px;
    margin-bottom: 10px;
    display: block;
}

.container-form .data input {
    width: 250px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.container-form .data input:focus {
    background-color: rgba(220, 220, 220, 0.799);
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.mensaje-error {
    color: red;
    font-size: 0.85em;
    margin-top: 4px;
}

.container-search {
    margin-left: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 40%;
  }

@media screen and (max-width: 768px) {
    .container-form .row {
        flex-direction: column; /* Apila los elementos en columna */
        gap: 5px; /* Reduce el espacio entre elementos */
    }

    .container-form .data {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}

.container-table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borde sutil */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra difuminada */
}

table {
    width: 100%;
}

.container-button {
    margin-top: 200px;
}