<h3>Elija la opción de la acción que desea realizar</h3>

<select id="actionSelect" [(ngModel)]="selectedAction">
    <option value="add">Agregar a buró de crédito</option>
    <option value="consult">Consultar buró de crédito</option>
</select> 

<!--Div que contiene el formulario de la opcion agregar-->
<div class="container-form" *ngIf="selectedAction === 'add'">
    <form [formGroup]>
        <div class="row">
            <div class="data">
                <label>Nombre completo</label>
                <input type="text" [(ngModel)]="nameBc" name="nameBc"><!--nameBc=nombreBuroCredito-->
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" [(ngModel)]="addressBc" name="addressBc"><!--addressBc=domicilioBuroCredito-->
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="text" [(ngModel)]="phoneBc" name="phoneBc"><!--phoneBc=phoneBuroCredito-->
            </div>
        </div>
        <div class="container-button">
            <app-save-button></app-save-button>
        </div>
    </form>
</div>

<!--Div que contiene la tabla de la opcion consultar-->
<div class="container-table" *ngIf="selectedAction === 'consult'">
    <table mat-table [dataSource]="dataListBureau" class="mat-elevation-z8">
    
        <!-- Nombre -->
        <ng-container matColumnDef="nameBcList"><!--nameBcList=nombreBuroCreditoList-->
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nameBcList}} </td>
        </ng-container>
      
        <!-- Domicilio -->
        <ng-container matColumnDef="addressBcList"><!--addressBcList=domicilioBuroCreditoList-->
          <th mat-header-cell *matHeaderCellDef> Domicilio </th>
          <td mat-cell *matCellDef="let element"> {{element.addressBcList}} </td>
        </ng-container>
      
        <!-- Telefono -->
        <ng-container matColumnDef="phoneBcList"><!--phoneBcList=phoneBuroCreditoList-->
          <th mat-header-cell *matHeaderCellDef> Telefóno </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneBcList}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="listBureauCol"></tr>
        <tr mat-row *matRowDef="let row; columns: listBureauCol;"></tr>
      </table>      
</div>