<app-search-bar-zone></app-search-bar-zone>
<div class="table-container">
    <table>
        <thead>
            <tr> 
                <th>°N Cliente</th>
                <th>Nombre</th>
                <th>°N Prestamos</th>
                <th>Clasificación</th>
                <th>Tipo Cliente</th>
                <th>Prestamo</th>
                <th>Fecha Entrega</th>
                <th>Fecha Vencimiento</th>
                <th>Semana</th>
                <th>Monto Semanal</th>
                <th>Atrazo</th>
                <th>Adelantos</th>
                <th>Cargos</th>
                <th>Pago</th>
                <th>Efectivo/Transferencia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Claudia Rafael</td>
                <td>2</td>
                <td>A</td>
                <td>Regular</td>
                <td>$5000</td>
                <td>01/02/2025</td>
                <td>01/08/2025</td>
                <td>4</td>
                <td>$200</td>
                <td>0</td>
                <td>1</td>
                <td><input type="number" step="0.01" placeholder="Cargos"></td>
                <td><input type="number" step="0.01" placeholder="Pago"></td>
                <td>
                    <select>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-save-button></app-save-button>
<app-print-button></app-print-button>
