<form class="search-bar-form">
  <mat-form-field class="example-full-width">
    <mat-label>Ingrese la zona</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
           aria-label="Zona"
           matInput
           [formControl]="myControl" 
           [matAutocomplete]="auto">
    <!--El siguiente bloque define el autocompletado-->
    <mat-autocomplete 
      #auto="matAutocomplete" 
      (optionSelected)="onSelected($event.option.value)"
      [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.codigoZona}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
