<div class="search-container">

  <form class="search-form">

    <mat-form-field appearance="outline" class="search-field">
      <i matPrefix class="fa-solid fa-magnifying-glass search-icon"></i>
      <mat-label>Buscar zona</mat-label>

      <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      >

      <!-- AUTOCOMPLETE -->
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelected($event.option.value)"
        [displayWith]="displayFn">

        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option">

          {{ option.codigoZona }}

        </mat-option>

      </mat-autocomplete>

    </mat-form-field>

  </form>

</div>