body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding: 20px;
    border: 2px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}