<div class="table-container">
    <table>
        <thead>
            <tr> 
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Domicilio</th>
                <th>Clasificación</th>
                <th>N° Prestamos</th>
                <th>Fecha</th>
                <th>Semana</th>
                <th>Monto Semanal</th>
                <th>Cumplimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>