<div class="container-form">
    <form [formGroup]="clientForm" (ngSubmit)="option === 'create' ? createClient() : updateClient()">
        <div class="form-section">
            <h4>Datos personales del cliente</h4>
            <div class="row">
                <div class="data">
                    <label>Nombre</label>
                    <input type="text" formControlName="name">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('name')?.invalid && clientForm.get('name')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un nombre válido</span>
                    </div>
                </div>
                <div class="data">
                    <label>Apellido paterno</label>
                    <input type="text" formControlName="paternalLn">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('paternalLn')?.invalid && clientForm.get('paternalLn')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un apellido válido</span>
                    </div><!--paternalLn=paternalLastName -->
                </div>
                <div class="data">
                    <label>Apellido materno</label>
                    <input type="text" formControlName="maternalLn">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('maternalLn')?.invalid && clientForm.get('maternalLn')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un apellido válido</span>
                    </div> <!--maternalLn=maternalLastName -->
                </div>  
            </div>
            <div class="row">
                <div class="data">
                    <label>Edad</label>
                    <input type="number" formControlName="age" min="18" max="60">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('age')?.invalid && clientForm.get('age')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una edad válida</span>
                    </div>
                </div>
                <div class="data">
                    <label>Domicilio</label>
                    <input type="text" formControlName="address">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('address')?.invalid && clientForm.get('address')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un domicilio válido</span>
                    </div>
                </div>
                <div class="data">
                    <label>Colonia</label>
                    <input type="text" formControlName="colonia">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('colonia')?.invalid && clientForm.get('colonia')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una colonia válida</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="data">
                    <label>Ciudad</label>
                    <input type="text" formControlName="city">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('city')?.invalid && clientForm.get('city')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una ciudad válida</span>
                    </div>
                </div>
                <div class="data">
                    <label>Telefóno</label>
                    <input type="tel" formControlName="phone">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un teléfono válido</span>
                    </div>
                </div>
                <div class="data">
                    <label>Clasificación</label>
                    <input type="text" formControlName="classification">
                    <div class="error-message" *ngIf="option === 'create' && clientForm.get('classification')?.invalid && clientForm.get('classification')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una clasificación válida</span>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="data">
                    <label>Zona</label>
                    <input type="text" matInput placeholder="Ejemplo 1-A" formControlName="zone" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onZoneSelected($event.option.value)">
                        <mat-option *ngFor="let zona of filteredZones$ | async" [value]="zona.codigoZona">
                            {{ zona.codigoZona }}
                        </mat-option>
                    </mat-autocomplete>  
                </div>
                <div class="data">
                    <label>Puntos</label>
                    <input type="number" formControlName="points">
                </div>
            </div>
        </div>

        <div class="form-section">
            <h4>Datos del trabajo del cliente</h4>
        <div class="row">
            <div class="data">
                <label>Nombre</label>
                <input type="text" formControlName="jobName">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('jobName')?.invalid && clientForm.get('jobName')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un nombre de trabajo válido</span>
                </div>
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" formControlName="workAddress">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('workAddress')?.invalid && clientForm.get('workAddress')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un domicilio válido</span>
                </div>
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="tel" formControlName="workPhone">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('workPhone')?.invalid && clientForm.get('workPhone')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un teléfono válido</span>
                </div>
            </div>
        </div>
        </div>
        
        <div class="form-section">
            <h4>Referencia del cliente</h4>
        <div class="row">
            <div class="data">
                <label>Nombre completo</label>
                <input type="text" formControlName="referenceName">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('referenceName')?.invalid && clientForm.get('referenceName')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un nombre válido</span>
                </div>
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" formControlName="referenceAddress">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('referenceAddress')?.invalid && clientForm.get('referenceAddress')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un domicilio válido</span>
                </div>
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="tel" formControlName="referencePhone">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('referencePhone')?.invalid && clientForm.get('referencePhone')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un teléfono válido</span>
                </div>
            </div>
        </div>
        </div>

        <div class="form-section">
            <h4>Garantias</h4>
        <div formGroupName="collateral" class="row">
            <div class="data">
                <label>Garantia 1</label>
                <input type="text" formControlName="firstCollateral">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('collateral.firstCollateral')?.invalid && clientForm.get('collateral.firstCollateral')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>
            <div class="data">
                <label>Garantia 2</label>
                <input type="text" formControlName="secondCollateral">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('collateral.secondCollateral')?.invalid && clientForm.get('collateral.secondCollateral')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>
            <div class="data">
                <label>Garantia 3</label>
                <input type="text" formControlName="thirdCollateral">
                <div class="error-message" *ngIf="option === 'create' && clientForm.get('collateral.thirdCollateral')?.invalid && clientForm.get('collateral.thirdCollateral')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>        
        </div> 
        </div>
        <app-save-button [label]="option === 'create' ? 'Guardar' : 'Actualizar'"></app-save-button>
    </form>
</div>

<!--Modal que se muestra cuando se agregaron correctamente los datos del cliente y sus garantuas -->

 <div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: green;">✔️ ¡Éxito!</h3>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessModal()">Cerrar</button>
  </div>
</div>

<!--Modal que se muestra cuando ocurre un error -->
<div *ngIf="showErrorModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: red;">❌ ¡Error!</h3>
    <p>{{ errorMessage }}</p>
    <button (click)="closeErrorModal()">Cerrar</button>
  </div>
</div>

<!--Este modal es para confirmar los datos de actualización-->
<div *ngIf="showConfirmation" class="modal-overlay">
  <div class="modal-content-confirmation">
    <h3>¿Deseas actualizar los siguientes datos?</h3>
    <ul>
      <li *ngFor="let field of modifiedFields | keyvalue : preserverOrder">
        <strong>{{ field.key }}:</strong>
        <ng-container *ngIf="typeof field.value === 'object'; else simpleValue">
          <ul>
            <li *ngFor="let nested of getKeyValueObject(field.value) | keyvalue">
              {{ nested.key }}: {{ nested.value }}
            </li>
          </ul>
        </ng-container>
        <ng-template #simpleValue>
          {{ field.value }}
        </ng-template>
      </li>
    </ul>

    <button (click)="confirmUpdate()">Confirmar</button>
    <button (click)="cancelUpdate()">Cancelar</button>
  </div>
</div>