<div class="container-form">
    <form [formGroup]="clientForm" (ngSubmit)="modo === 'agregar' ? addClient() : updateClient()">
        <h4>Datos personales del cliente</h4>
            <div class="row">
                <div class="data">
                    <label>Nombre</label>
                    <input type="text" formControlName="name" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('name')?.invalid && clientForm.get('name')?.touched">
                        Nombre vacío o no es válido.
                    </div>
                </div>
                <div class="data">
                    <label>Apellido paterno</label>
                    <input type="text" formControlName="paternalLn" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('paternalLn')?.invalid && clientForm.get('paternalLn')?.touched">
                        Apellido vacío o no es válido.
                    </div><!--paternalLn=paternalLastName -->
                </div>
                <div class="data">
                    <label>Apellido materno</label>
                    <input type="text" formControlName="maternalLn" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('maternalLn')?.invalid && clientForm.get('maternalLn')?.touched">
                        Apellido vacío o no es válido.
                    </div> <!--maternalLn=maternalLastName -->
                </div>  
            </div>
            <div class="row">
                <div class="data">
                    <label>Edad</label>
                    <input type="number" formControlName="age" min="18" max="60" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('age')?.invalid && clientForm.get('age')?.touched">
                        Edad vacía o no es válido.
                    </div>
                </div>
                <div class="data">
                    <label>Domicilio</label>
                    <input type="text" formControlName="address" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('address')?.invalid && clientForm.get('address')?.touched">
                        Domicilio vacío o no es válido.
                    </div>
                </div>
                <div class="data">
                    <label>Colonia</label>
                    <input type="text" formControlName="colonia" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('colonia')?.invalid && clientForm.get('colonia')?.touched">
                        Colonia vacío o no es válido.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="data">
                    <label>Ciudad</label>
                    <input type="text" formControlName="city" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('city')?.invalid && clientForm.get('city')?.touched">
                        Ciudad vacío o no es válido.
                    </div>
                </div>
                <div class="data">
                    <label>Telefóno</label>
                    <input type="tel" formControlName="phone" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched">
                        Telefóno vacío o no es válido.
                    </div>
                </div>
                <div class="data">
                    <label>Clasificación</label>
                    <input type="text" formControlName="classification" required>
                    <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('classification')?.invalid && clientForm.get('classification')?.touched">
                        Clasificación vacío o no es válido.
                    </div> <!--group=grupo de clasificacion-->
                </div>
            </div>
            <div class="row">
                <div class="data">
                    <label>Zona</label>
                    <input type="text" 
                            matInput
                            placeholder="Ejem. 1-A"
                            formControlName="zone"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onZoneSelected($event.option.value)">
                        <mat-option *ngFor="let zona of filteredZones$ | async" [value]="zona.codigoZona">
                            {{ zona.codigoZona }}
                        </mat-option>
                    </mat-autocomplete>  
                </div>
                <div class="data">
                    <label>Puntos</label>
                    <input type="number" formControlName="points">
                </div>
            </div> 
        <h4>Datos del trabajo del cliente</h4>
        <div class="row">
            <div class="data">
                <label>Nombre</label>
                <input type="text" formControlName="nameJob" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('nameJob')?.invalid && clientForm.get('nameJob')?.touched">
                    Nombre de trabajo vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" formControlName="addressJob" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('addressJob')?.invalid && clientForm.get('addressJob')?.touched">
                    Domicilio de trabajo vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="tel" formControlName="phoneJob" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('phoneJob')?.invalid && clientForm.get('phoneJob')?.touched">
                    Telefóno de trabajo vacío o no es válido.
                </div>
            </div>
        </div>
        
        <h4>Referencia del cliente</h4>
        <div class="row">
            <div class="data">
                <label>Nombre completo</label>
                <input type="text" formControlName="nameReference" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('nameReference')?.invalid && clientForm.get('nameReference')?.touched">
                    Nombre de referencia vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" formControlName="addressReference" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('addressReference')?.invalid && clientForm.get('addressReference')?.touched">
                    Domicilio de referencia vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="tel" formControlName="phoneReference" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('phoneReference')?.invalid && clientForm.get('phoneReference')?.touched">
                    Telefóno de referencia vacío o no es válido.
                </div>
            </div>
        </div>

        <h4>Garantias</h4>
        <div formGroupName="garantias" class="row">
            <div class="data">
                <label>Garantia 1</label>
                <input type="text" formControlName="garantiaUno" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('garantias.garantiaUno')?.invalid && clientForm.get('garantias.garantiaUno')?.touched">
                    Garantia vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Garantia 2</label>
                <input type="text" formControlName="garantiaDos" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('garantias.garantiaDos')?.invalid && clientForm.get('garantias.garantiaDos')?.touched">
                    Garantia vacío o no es válido.
                </div>
            </div>
            <div class="data">
                <label>Garantia 3</label>
                <input type="text" formControlName="garantiaTres" required>
                <div class="mensaje-error" *ngIf="modo === 'agregar' && clientForm.get('garantias.garantiaTres')?.invalid && clientForm.get('garantias.garantiaTres')?.touched">
                    Garantia vacío o no es válido.
                </div>
            </div>        
        </div> 
        <app-save-button [label]="modo === 'agregar' ? 'Guardar' : 'Actualizar'"></app-save-button>
    </form>
</div>

<!--Modal que se muestra cuando se agregaron correctamente los datos del cliente y sus garantuas -->

 <div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: green;">✔️ ¡Éxito!</h3>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessModal()">Cerrar</button>
  </div>
</div>

<!--Modal que se muestra cuando ocurre un error -->
<div *ngIf="showErrorModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: red;">❌ ¡Error!</h3>
    <p>{{ errorMessage }}</p>
    <button (click)="closeErrorModal()">Cerrar</button>
  </div>
</div>

<!--Este modal es para confirmar los datos de actualización-->
<div *ngIf="showConfirmation" class="modal-overlay">
  <div class="modal-content-confirmation">
    <h3>¿Deseas actualizar los siguientes datos?</h3>
    <ul>
      <li *ngFor="let field of modifiedFields | keyvalue : preserverOrder">
        <strong>{{ field.key }}:</strong>
        <ng-container *ngIf="typeof field.value === 'object'; else simpleValue">
          <ul>
            <li *ngFor="let nested of getKeyValueObject(field.value) | keyvalue">
              {{ nested.key }}: {{ nested.value }}
            </li>
          </ul>
        </ng-container>
        <ng-template #simpleValue>
          {{ field.value }}
        </ng-template>
      </li>
    </ul>

    <button (click)="confirmUpdate()">Confirmar</button>
    <button (click)="cancelUpdate()">Cancelar</button>
  </div>
</div>