<form>
    <h4>Datos personales del cliente</h4>
    <label>Nombre</label>
    <input type="text" id="name" name="name" required>
    <label>Apellido paterno</label>
    <input type="text" id="paternalLn" name="paternalLn" required> <!--paternalLn=paternalLastName -->
    <label>Apellido materno</label>
    <input type="text" id="maternalLn" name="maternalLn" required> <!--maternalLn=maternalLastName -->
    <label>Edad</label>
    <input type="number" id="age" name="age" min="18" max="60" required>
    <label>Domicilio</label>
    <input type="text" id="adress" name="adress" required>
    <label>Colonia</label>
    <input type="text" id="colonia" name="colonia" required>
    <label>Ciudad</label>
    <input type="text" id="city" name="city" required>
    <label>Telefóno</label>
    <input type="tel" id="phone" name="phone" required>
    <label>Clasificación</label>
    <input type="text" id="group" name="group" required> <!--group=grupo de clasificacion-->
    <h4>Garantias</h4>
    <label>Garantia 1</label>
    <input type="text" id="garantiaUno" name="garantiaUno" required>
    <label>Garantia 2</label>
    <input type="text" id="garantiaDos" name="garantiaDos" required>
    <label>Garantia 3</label>
    <input type="text" id="garantiaTres" name="garantiaTres" required>
</form>
