<app-submenu-statistics></app-submenu-statistics>
<select id="listSelect" [(ngModel)]="selectedList">
    <option value="dailyCredits">Consulta del día</option>
    <option value="weeklyCredits">Consulta de la semana</option>
    <option value="monthlyCredits">Consulta del mes</option>
</select>  

<app-daily-report-credits-list *ngIf="selectedList === 'dailyCredits'"></app-daily-report-credits-list>
<app-weekly-report-credits-list *ngIf="selectedList === 'weeklyCredits'"></app-weekly-report-credits-list>
<app-monthly-report-credits-list *ngIf="selectedList === 'monthlyCredits'"></app-monthly-report-credits-list>
