<div class="search-container">
    <form class="search-form">
        <mat-form-field appearance="outline" class="search-field">
            <i matPrefix class="fa-solid fa-magnifying-glass search-icon"></i>
            <mat-label>Buscar cliente</mat-label>
            <input matInput [(ngModel)]="fullName" name="fullName" (keydown.enter)="searchClient()">
        </mat-form-field>
        <div *ngIf="errorMessage" class="search-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>{{ errorMessage }}</span>
        </div>
    </form>
</div>