<div class="container-search-bar">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre Completo</mat-label>
      <input 
        matInput 
        placeholder="Nombre Completo" 
        [(ngModel)]="nombreCompleto" 
        name="nombreCompleto"
        (keydown.enter)="buscarCliente()"
      >
      <div *ngIf="mensajeError" class="error" style="color: red;font-size: 12px;">
        {{ mensajeError }}
      </div>
    </mat-form-field>
  </form>
</div>
    