form p {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
} 

.data {
    flex: 1;
    padding-right: 30px;
}

.data label {
    width: 150px;
    margin-top: 20px;
    display: block;
}

.data input {
    width: 250px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.data input:focus {
    background-color: rgba(220, 220, 220, 0.799);
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.container-table {
    margin-top: 50px;
}

select {
    margin-top: 20px;
    margin-left: 20px;
    width: 250px; 
    padding: 4px; 
    font-size: 15px; 
    border: 1px solid #000000; 
    border-radius: 4px; 
    appearance: none; 
    cursor: pointer; 
}

select:focus {
    border-color: gray; 
    outline: none; 
    box-shadow: 0 0 5px rgba(87, 93, 96, 0.5); 
}

select {
    /*background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); Flecha personalizada */
    background-image: url('/flecha.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posición de la flecha */
    background-size: 10px; /* Tamaño de la flecha */
}

/* Estilo para el hover */
select:hover {
    border-color: gray; /* Cambia el color del borde al pasar el mouse */
}

/* Estilo para deshabilitado */
select:disabled {
    background-color: #f0f0f0; /* Color de fondo deshabilitado */
    cursor: not-allowed; /* Cambia el cursor */
    opacity: 0.7; /* Reduce la opacidad */
}

.currentDate {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #2c3e50;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Apila los elementos en columna */
        gap: 5px; /* Reduce el espacio entre elementos */
    }

    .data {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}

