<!--<app-submenu-statistics></app-submenu-statistics>-->
<div class="container-form">
    <!--Formulario ingresos y egresos-->
    <form [formGroup]="incomeExpensesForm" (ngSubmit)="addTransaction()">
        <div class="row">
            <div class="data">
                <label>Cantidad en caja</label>
                <input type="number" formControlName="totalCash" [readonly]="true">
            </div>
        </div>

        <!--Subgrupo para los ingresos-->
        <div formGroupName="incomeForm" class="row">
            <div class="data">
                <label>Ingresos de pagos</label>
                <input type="text" formControlName="income" readonly>
            </div>
            <div class="data">
                <label>Ingresos extra</label>
                <input type="number" formControlName="extraIncome">
            </div>
            <div class="data">
                <label>Descripción</label>
                <input type="text" formControlName="descriptionIncome">
            </div>
            <div class="data">
                <label>Total</label>
                <input type="text" formControlName="totalIncome" [readonly]="true">
            </div>
        </div>

        <!--Subgrupo para los egresos-->
        <div formGroupName="expensesForm" class="row">
            <div class="data">
                <label>Egresos de créditos</label>
                <input type="text" formControlName="expenses" [readonly]="true">
            </div>
            <div class="data">
                <label>Egresos extra</label>
                <input type="number" formControlName="extraExpense">
            </div>
            <div class="data">
                <label>Descripción</label>
                <input type="text" formControlName="descriptionExpense">
            </div>
            <div class="data">
                <label>Total</label>
                <input type="text" formControlName="totalExpenses" [readonly]="true">
            </div>
        </div>

        <div class="row">
            <div class="data">
                <label>Egresos de comisiones</label>
                <input type="text" formControlName="commissionExpenses" [readonly]="true">
            </div>  
        </div>
        <app-save-button></app-save-button>
    </form>
</div>

<div class="container-table">
    <select id="listSelect" [(ngModel)]="selectedList" (ngModelChange)="onReportTypeChange($event)">
        <option value="daily">Consulta del día</option>
        <option value="weekly">Consulta de la semana</option>
        <option value="monthly">Consulta del mes</option>
    </select>  

    <app-report-list 
        [type]="selectedList"
        [incomeData]="incomeData"
        [expenseData]="expenseData"></app-report-list>
</div>