<app-submenu></app-submenu>
<app-search-bar [modulo]="modulo" (clienteEncontrado)="onClienteEncontrado($event)"></app-search-bar>
<div class="current-credit">
    <h3>Crédito actual</h3>
    <table mat-table [dataSource]="dataCurrentCredit" class="mat-elevation-z8">
        <!-- Número de préstamo -->
        <ng-container matColumnDef="creditNum">
          <th mat-header-cell *matHeaderCellDef> No. Crédito</th>
          <td mat-cell *matCellDef="let element"> {{element.creditNum}} </td>
        </ng-container>
      
        <!-- Nombre del cliente -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Monto del préstamo -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element"> {{element.amount | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
        </ng-container>

        <!-- Numero de semanas del credito -->
        <ng-container matColumnDef="weeks">
          <th mat-header-cell *matHeaderCellDef> Semanas del crédito </th>
          <td mat-cell *matCellDef="let element"> {{element.weeks}} </td>
        </ng-container>
      
        <!-- Fecha que se dió el préstamo -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Cantidad del pago semanal -->
        <ng-container matColumnDef="weeklyAmount">
            <th mat-header-cell *matHeaderCellDef> Monto semanal </th>
            <td mat-cell *matCellDef="let element"> {{element.weeklyAmount | currency:'MXN':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>

        <!-- Número de la semana actual del pago -->
        <ng-container matColumnDef="paymentWeek">
            <th mat-header-cell *matHeaderCellDef> Semana de pago </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentWeek}} </td>
        </ng-container>

        <!-- Estado de pago -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Cumplimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="currentCreditCol"></tr>
        <tr mat-row *matRowDef="let row; columns: currentCreditCol;"></tr>
      </table>
</div>

<div class="credit-history">
    <h3>Historial crediticio</h3>
    <table mat-table [dataSource]="dataCreditHistory" class="mat-elevation-z8">

        <!--Numero de credito-->
        <ng-container matColumnDef="creditNumHistory">
            <th mat-header-cell *matHeaderCellDef> No. Crédito</th>
            <td mat-cell *matCellDef="let element"> {{element.creditNumHistory}} </td>
        </ng-container>

        <!--Monto del crédito-->
        <ng-container matColumnDef="amountHistory">
            <th mat-header-cell *matHeaderCellDef> Monto</th>
            <td mat-cell *matCellDef="let element"> {{element.amountHistory | currency:'MXN':'symbol-narrow':'1.2-2' }} </td>
        </ng-container>

        <!--Fecha del préstamo-->
        <ng-container matColumnDef="dateHistory">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.dateHistory}} </td>
        </ng-container>

        <!--Numero de semanas del crédito-->
        <ng-container matColumnDef="numWeeksHistory">
          <th mat-header-cell *matHeaderCellDef> Semanas del crédito</th>
          <td mat-cell *matCellDef="let element"> {{element.numWeeksHistory}} </td>
      </ng-container>

        <!--Cumplimiento-->
        <ng-container matColumnDef="statusHistory">
            <th mat-header-cell *matHeaderCellDef> Cumplimiento</th>
            <td mat-cell *matCellDef="let element"> {{element.statusHistory}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="creditHistoryCol"></tr>
        <tr mat-row *matRowDef="let row; columns: creditHistoryCol;"></tr>
      </table>
</div>
