<header>
    <div class="logo-container">
        <img class= 'logo' src="logo.jpg" alt="logo">
        <!--<span class="empresa-nombre">Crecex</span>-->
    </div>

    <div class="header-title">Bienvenido {{ username }}</div>

        <button class="logout-button" title="Cerrar sesión" (click)="openLogoutModal()">
            <!--<img src="logout.png" alt="Cerrar sesión">-->
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
</header>

<!--Modal para confirmar cerrar sesión-->
<div *ngIf="showLogoutModal" class="modal-overlay">
  <div class="modal-content">
    <h3>¿Desea cerrar sesión?</h3>
    <div class="modal-actions">
      <button (click)="confirmLogout()">Sí, cerrar sesión</button>
      <button (click)="cancelLogoutModal()">Cancelar</button>
    </div>
  </div>
</div>

