header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #11930a;
    color: white;
}

.logo-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container h1 {
    font-size: 40px;
    margin-left: 20px;
    margin: 0 20px;
}

.logo-container img {
    width: 50px;
    padding-left: 20px;
}

.logout-button {
    background: none;;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logout-button img {
    width: 40px;
    height: auto;
    background-color: white;
    padding: 2px;
    border-radius: 50px;
    border: 3px solid #1556be
}
/*
.image-container {
    background-color: #ffff; /Fondo amarillo 
    padding: 5px;  Espacio alrededor de la imagen 
    display: inline-block; Ajusta el tamaño al contenido 
    border-radius: 50px;
    border: 3px solid #1556be;
}

.image-container img {
    width: 40px;
    display: block; Elimina el espacio inferior de la imagen 
}
*/