<!--<div class="main-container">
    <app-header></app-header>
    <app-menu></app-menu>
    <p>Dentro del home</p>
</div>
<app-interactive-screen></app-interactive-screen>-->
<div class="text-container">
    <h1>¡Bienvenido!</h1>
    <p> Misión: Ser una empresa comprometida a brindar soluciones 
        económicas, que ayuden a nuestros clientes a satisfacer sus 
        necesidades financieras, para que se logre tener mayor 
        bienestar y calidad de vida.
        Ofreciendo las mejores opciones de crédito, máxima calidad de 
        atención, rapidez, seguridad y confianza.
    </p>
</div>

<!-- Modal de acceso denegado -->
<div *ngIf="showModal" class="modal-backdrop">
  <div class="modal-content">
    <h3>🔒 Acceso denegado</h3>
    <p>No tiene permisos para acceder a ese módulo.</p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
