.form-container {
    margin-top: 30px;
    margin-left: 20px;
}
.row {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
} 

.data {
    flex: 1;
    padding-right: 20px;
}

.data label {
    width: 130px;
    display: block;
}

.data input {
    width: 250px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.data input:focus {
    background-color: rgba(220, 220, 220, 0.799);
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Apila los elementos en columna */
        gap: 5px; /* Reduce el espacio entre elementos */
    }

    .data {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
button {
    margin-top: 70px;
    float: right;
    margin: 20px;
    background-color: #0b089f;/*#007bff; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
} 