<div class="form-container">
<form>
    <div class="row">
        <div class="data">
            <label for="monto">Monto del crédito</label>
            <input type="number" id="monto" name="monto" required>
        </div>
        <div class="data">
            <label for="semanas">Semanas</label>
            <input type="text" id="semanas" name="semanas" required>
        </div>         
    </div>
    
    <div class="row">
        <div class="data">
            <label for="horario">Horario</label>
            <input type="text" id="horario" name="horario" required>
        </div>
        <div class="data">
            <label for="efectivo">Atrazos</label>
            <input type="text" id="efectivo" name="efectivo" required>
        </div>
    </div>
 
    <div class="row">
        <div class="data">
            <label for="recargos">Recargos</label>
            <input type="number" id="recargos" name="recargos" required>
        </div>
        <div class="data">
            <label for="abonoSemanal">Abono semanal</label>
            <input type="number" id="abonoSemanal" name="abonoSemanal" required>
        </div>
    </div>
    <div class="row">
        <div class="data">
            <label for="efectivo">Efectivo</label>
            <input type="text" id="efectivo" name="efectivo" required>
        </div>
    </div>
</form>
</div>
