.form-container {
    margin-top: 30px;
    margin-left: 20px;
}
.row {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
} 

.data {
    flex: 1;
    padding-right: 20px;
}

.data label {
    width: 130px;
    display: block;
}

.data input {
    width: 250px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.data input:focus {
    background-color: rgba(220, 220, 220, 0.799);
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Apila los elementos en columna */
        gap: 5px; /* Reduce el espacio entre elementos */
    }

    .data {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
.custom-select-wrapper {
  position: relative;
}

.custom-select {
  width: 46%;
  padding: 7px 1px;
  border: 2px solid #ccc;
  border-radius: 5px; 
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}


.custom-select:focus {
  border-color: #098013;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  max-width: 400px;
  text-align: center;
}
