<app-submenuu></app-submenuu>
<div>
  <!-- Componente de búsqueda de cliente -->
  <app-search-bar (search)="onSearch($event)"></app-search-bar> <!-- Emite el nombre completo -->
    <div class="container-table">
  
      <!-- Mostrar tabla si hay datos -->
      <table *ngIf="dataNewCredit.length > 0" mat-table [dataSource]="dataNewCredit" class="mat-elevation-z8">
  
        <!-- Nombre -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
  
        <!-- Dirección -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
        </ng-container>
  
        <!-- Teléfono -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Teléfono </th>
          <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
        </ng-container>
  
        <!-- Clasificación -->
        <ng-container matColumnDef="classification">
          <th mat-header-cell *matHeaderCellDef> Clasificación </th>
          <td mat-cell *matCellDef="let element"> {{ element.classification }} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="newCreditCol"></tr>
        <tr mat-row *matRowDef="let row; columns: newCreditCol;"></tr>
      </table>
  
      <!-- Mostrar mensaje si no se encontró el cliente -->
      <div *ngIf="notFoundMessage" class="error-message">
        {{ notFoundMessage }}
      </div>
    </div>

  <app-form-credit></app-form-credit> 
  <app-save-button></app-save-button>
  <app-print-button></app-print-button>

</div>
