<div class="form-selector">
    <label for="formSelect" class="form-selector-label">
        Selecciona el formulario
    </label>

        <div class="select-container">
            <select id="formSelect" class="custom-select initial-focus" [(ngModel)]="selectedForm">
                <option value="client">Datos del cliente</option>
                <option value="primaryGuarantor">Datos del aval principal</option>
                <option value="secondaryGuarantor">Datos del aval secundario</option>
            </select>
            <i class="fa-solid fa-chevron-down select-icon"></i>
        </div>
</div>
 

<app-client-form *ngIf="selectedForm === 'client'" [option]="'create'"></app-client-form>
<app-guarantor-form *ngIf="selectedForm === 'primaryGuarantor'" [option]="'create'"></app-guarantor-form>
<app-guarantor-form *ngIf="selectedForm === 'secondaryGuarantor'" [option]="'create'"></app-guarantor-form>

