html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.mat-mdc-table,
.mat-mdc-header-cell,
.mat-mdc-cell,
.mat-mdc-form-field,
.mat-mdc-input-element {
    font-family: 'Inter', sans-serif !important;
}
