<div class="container-form">
    <form [formGroup]="guarantorForm" (ngSubmit)="option === 'create' ? addGuarantor() : updateGuarantor()">
        <div class="form-section">
            <h4>Datos personales del aval</h4>
            <div class="row">
                <div class="data">
                    <label>Nombre</label>
                    <input type="text" formControlName="name" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('name')?.invalid && guarantorForm.get('name')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un nombre válido</span>
                    </div>
                </div>
                <div class="data">
                    <label>Apellido paterno</label>
                    <input type="text" formControlName="paternalLn" required> <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('paternalLn')?.invalid && guarantorForm.get('paternalLn')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un apellido válido</span>
                    </div><!--paternalLn=paternalLastName -->
                </div>
                <div class="data">
                    <label>Apellido materno</label>
                    <input type="text" formControlName="maternalLn" required> 
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('maternalLn')?.invalid && guarantorForm.get('maternalLn')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un apellido válido</span>
                    </div> <!--maternalLn=maternalLastName -->
                </div>  
            </div>
            <div class="row">
                <div class="data">
                    <label>Edad</label>
                    <input type="number" formControlName="age" min="18" max="60" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('age')?.invalid && guarantorForm.get('age')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una edad válida</span>
                    </div>
                </div>
                <div class="data">
                    <label>Domicilio</label>
                    <input type="text" formControlName="address" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('address')?.invalid && guarantorForm.get('address')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un domicilio válido</span>
                    </div>
                </div>
                <div class="data">
                    <label>Colonia</label>
                    <input type="text" formControlName="colonia" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('colonia')?.invalid && guarantorForm.get('colonia')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una colonia válida</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="data">
                    <label>Ciudad</label>
                    <input type="text" formControlName="city" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('city')?.invalid && guarantorForm.get('city')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa una ciudad válida</span>
                    </div>
                </div>
                <div class="data">
                    <label>Telefóno</label>
                    <input type="tel" formControlName="phone" required>
                    <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('phone')?.invalid && guarantorForm.get('phone')?.touched">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Ingresa un teléfono válido</span>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="form-section">
            <h4>Datos del trabajo del aval</h4>
        <div class="row">
            <div class="data">
                <label>Nombre</label>
                <input type="text" formControlName="nameJob" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('nameJob')?.invalid && guarantorForm.get('nameJob')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un nombre de trabajo válido</span>
                </div>
            </div>
            <div class="data">
                <label>Domicilio</label>
                <input type="text" formControlName="addressJob" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('addressJob')?.invalid && guarantorForm.get('addressJob')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un domicilio válido</span>
                </div>
            </div>
            <div class="data">
                <label>Telefóno</label>
                <input type="tel" formControlName="phoneJob" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('phoneJob')?.invalid && guarantorForm.get('phoneJob')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa un teléfono válido</span>
                </div>
            </div>
        </div>
        </div>
        
        <div class="form-section">
            <h4>Garantias</h4>
        <div formGroupName="garantias" class="row" >
            <div class="data">
                <label>Garantia 1</label>
                <input type="text" formControlName="garantiaUno" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('garantias.garantiaUno')?.invalid && guarantorForm.get('garantias.garantiaUno')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>
            <div class="data">
                <label>Garantia 2</label>
                <input type="text" formControlName="garantiaDos" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('garantias.garantiaDos')?.invalid && guarantorForm.get('garantias.garantiaDos')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>
            <div class="data">
                <label>Garantia 3</label>
                <input type="text" formControlName="garantiaTres" required>
                <div class="error-message" *ngIf="option === 'create' && guarantorForm.get('garantias.garantiaTres')?.invalid && guarantorForm.get('garantias.garantiaTres')?.touched">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>Ingresa una garantía válida</span>
                </div>
            </div>        
        </div>
        </div>
        <app-save-button [label]="option === 'create' ? 'Guardar' : 'Actualizar'"></app-save-button> 
    </form>
</div>

<!--Modal de exito al agregar el aval y sus garantias-->
<div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: green;">✔️ ¡Éxito!</h3>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessModal()">Cerrar</button>
  </div>
</div>

<!--Modal para controlar los errores-->
<div *ngIf="showErrorModal" class="modal-overlay">
  <div class="modal-content">
    <h3 style="color: red;">❌ ¡Error!</h3>
    <p>{{ errorMessage }}</p>
    <button (click)="closeErrorModal()">Cerrar</button>
  </div>
</div>

<!--Este modal es para confirmar los datos de actualización-->
<div *ngIf="showConfirmation" class="modal-overlay">
  <div class="modal-content-confirmation">
    <h3>¿Deseas actualizar los siguientes datos?</h3>
    <ul>
      <li *ngFor="let field of modifiedFields | keyvalue : preserverOrder">
        <strong>{{ field.key }}:</strong>
        <ng-container *ngIf="typeof field.value === 'object'; else simpleValue">
          <ul>
            <li *ngFor="let nested of getKeyValueObject(field.value) | keyvalue">
              {{ nested.key }}: {{ nested.value }}
            </li>
          </ul>
        </ng-container>
        <ng-template #simpleValue>
          {{ field.value }}
        </ng-template>
      </li>
    </ul>

    <button (click)="confirmUpdate()">Confirmar</button>
    <button (click)="cancelUpdate()">Cancelar</button>
  </div>
</div>



