form h4 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.row {
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
} 

.specificRow {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start; 
}

.data, .dataPhone {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.data label, .dataPhone label {
    width: 130px;
    display: block;
}

.data input, .dataPhone input {
    width: 250px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.data input:focus, .dataPhone input:focus {
    background-color: rgba(220, 220, 220, 0.799);
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.mensaje-error {
    color: red;
    font-size: 0.85em;
    margin-top: 4px;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Apila los elementos en columna */
        gap: 5px; /* Reduce el espacio entre elementos */
    }

    .data, .dataPhone {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}